body {
  margin: 0;
  padding: 0;
}

.select-api {
  margin: auto;
  font-family: 'Courier New', Courier, monospace;
}

.select-api .logo {
  max-width: 100px;
  float: left;
}

.select-api .content {
  margin: auto;
  text-align: center;
}

.select-api .content select {
  font-family: 'Courier New', Courier, monospace;
  padding: 5px 10px;
  text-align: center;
  min-width: 150px;
}
